@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Outfit', sans-serif;
        @apply bg-zinc-950 text-gray-100;
    }
}

.text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}